<!-- <p>nav-bar works!</p>
 -->
 <style>
    .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
    }
 </style>
 <div class="container-fluid p-4 shadow-sm sticky">
    <div class="mx-auto">
        <a routerLink="/">Home</a>|
        <a routerLink="/about">About</a>|
        <a routerLink="/user">User</a>|
        <a routerLink="/signin">signin</a>|
        <a routerLink="/dashboard">dashboard</a>|
        <a routerLink="/dash">dashboard</a>
    </div>
</div>
 <!-- <a href=""></a> -->
